.oneQuest {
    color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .oneQuest {
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.imageQuest{
  width: 450px; 
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 0 10px 0;
  border: 2px solid #f8f7f7;
  box-shadow: 0 0 20px 5px #ebeeeb;
}

.answers {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
  }
  
  .buttonAnswer {
    background-color: #1f1c1c;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .centered-container{
    display: flex;
    justify-content: center; 
  }
  .buttonNext {
    background-color: #927b7b;
    color: #fcfafa;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text {
    margin-top: 20px;
  }
